<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Banking Application</display-name>

    <servlet>
        <servlet-name>BankServlet</servlet-name>
        <servlet-class>com.bankingapp.BankServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BankServlet</servlet-name>
        <url-pattern>/bank</url-pattern>
    </servlet-mapping>
</web-app>
